@import './layout.scss';
@import './headernav.scss';
@import './signin.scss';
@import './signup.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import './details.scss';
@import './purchase-history.scss';
@import './account-info.scss';
@import './account.scss';
@import './shop.scss';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #808080;
}