.shop-cart {
    display: grid;
    grid-template-rows: [toggle-s] 40px [toggle-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 15px;

    &__toggle {
        grid-row: toggle-s/toggle-e;
        grid-column: s/e;
        justify-self: end;
        justify-items: center;
        align-items: center;
        display: grid;
    }

    &__content {
        grid-row: con-s/con-e;
        grid-column: s/e;
    }
}

.shop-cart {
    &__toggle {
        
    }

    &__content {
        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0, 0, 0, 0.2);
    }
}

.cart-content {
    &__title {
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;
    }

    &__products {
        display: grid;
    }

    &__footer {
        display: grid;
    }
}

.cart-button {
    color: white;
    font-size: 28px;
    background-color: #333;
    font-size: 18px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;
}

.cart-footer {

    &__checkout {
        display: grid;
        justify-items: center;
        align-items: center;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00CB79;
        color: white;
        font-size: 1.6rem;
        font-weight: 600;

        transition: all .3s ease;
        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }
   
}